<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.springdemo.mapping.userMapper"就是com.springdemo.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.springboot.dao.BlogMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    ，resultType属性指明查询返回的结果集类型
    resultType="com.springdemo.model.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <resultMap id="BlogList" type="com.springboot.model.Blog">
        <result column="bid" jdbcType="INTEGER" property="bid" />
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="bname" jdbcType="VARCHAR" property="bname" />
        <result column="text" jdbcType="VARCHAR" property="text" />
    </resultMap>
    <!-- 根据uid查询得到一个uid下的所有博客-->
    <select id="SelBlog"
            resultMap="BlogList"> <!-- 创建对应user实体类的位置 -->
        select * from test.t_blog where id=#{id} and status =1;
    </select>

    <!-- 根据bid查询得到一个博客的内容-->
    <select id="ShowBlog"
            resultType="com.springboot.model.Blog"> <!-- 创建对应user实体类的位置 -->
        select * from test.t_blog where bid=#{bid};
    </select>

    <insert id="InsBlog" parameterType="com.springboot.model.Blog"> <!-- 创建对应user实体类的位置 -->
        insert into test.t_blog(id,bname,text,status) values(#{id},#{bname},#{text},1);
    </insert>

    <!--根据bid更新博客-->
    <update id="EditBlog" parameterType="com.springboot.model.Blog">
        update test.t_blog set bname=#{bname},text=#{text} where bid=#{bid}
    </update>

    <!--根据uid查询不属于本人的博客-->
    <select id="SelOtherBlog" resultMap="BlogList">
        select * from t_blog where id!=#{id} limit 10
    </select>

    <!--插入评论-->
    <insert id="InsRemark" parameterType="com.springboot.model.Blog"> <!-- 创建对应user实体类的位置 -->
        insert into test.t_remark(bid,id,text,status) values(#{bid},#{id},#{text},1);
    </insert>

    <!--查找评论-->
    <select id="SelRemark" resultMap="BlogList"> <!-- 创建对应user实体类的位置 -->
        select * from test.t_remark where bid= #{bid} and status = 1 order by rid
    </select>

    <update id="DelBlog" parameterType="Integer">
        update test.t_blog set status = 0 where bid=#{bid}
    </update>
</mapper>